<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500"
          rel="stylesheet"
          type="text/css"
    >
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
          type="text/css"
    >
    <link rel="stylesheet"
          href="/assets/projects/css/global.css"
          type="text/css"
    >
    <link rel="stylesheet"
          href="/assets/projects/css/table.css"
          type="text/css"
    >
    <link rel="stylesheet"
          href="/node_modules/nvd3/build/nv.d3.css"
          type="text/css"
    >
    <!-- App -->
    <script src="/node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="services/datatable.srv.js"></script>
    <script src="services/events.srv.js"></script>
    <script src="directives/sd-data-table.js"></script>
    <script src="controllers/index.ctrl.js"></script>
    <!-- Dependencies -->
    <script src="/node_modules/d3/d3.js"></script>
    <script src="/node_modules/nvd3/build/nv.d3.js"></script>
    <script src="/node_modules/angular-nvd3/dist/angular-nvd3.js"></script>


    <title>
        GitHub Stream Dashboard
    </title>
</head>

<body ng-app="StreamDash" ng-controller="IndexController">
    <!-- Content will sit here -->
    <h1>Github Stream Dashboard</h1>
    <section class="dashboard">
        <section class="charts">
            <nvd3 options="piechart.options" data="piechart.data"></nvd3>
        </section>
        <section class="feed">
            <h2>
                Feed
            </h2>
            <div class="event-filter">
                <label ng-repeat="(eventType, count) in eventTypeCounter">
                    <input
                        type="checkbox"
                        ng-model="typeSelection[eventType]"
                        ng-change="piechart.update()"
                    >
                    <span>
                        {{eventType}}
                    </span>
                </label>
            </div>
        </section>
        <sd-data-table datatable="table"></sd-data-table>
        {{rows}}
    </section>

</body>

</html>
