body {
  width: 80%;
  color: #2F2F2F;
  min-width: 320px;
  margin-top: 80px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #F3F3F3;
}

.refresh-panel {
  text-align: center;
  margin: 50px;
}

.control-panel {
  border: #E3E3E3 2px solid;
  background-color: white;
}

.pie-panel {
  width: 70%;
}

.filter-panel {
  width: 30%;
  padding: 24px;
}

.filter {
  display: block;
  margin: 12px auto;
}

h1, h2, h3 {
  font-weight: 300;
  text-align: center;
}

.container {
  display: flex;
}

.sd-button {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 10px 30px;
  font-size: 110%;
  border-bottom: 4px solid #c0392b;
  border-radius: 2px;
}

.sd-button:active {
  background-color: #c0392b;
  border-bottom: 4px solid #86261E;
  outline: none;
}

.sd-button:focus {
  outline: none;
}

/*nvd3 style overrides*/

.nvd3 text {
  font: 300 12px Roboto !important;
}

.nvd3.nv-pie path {
  stroke-width: 5px !important;
}